.about-spacing {
  min-height: 5vh;
}

.about-layout {
  display: flex;
  width: 80%;
  flex-direction: column;
}

.about-left {
  flex-basis: 38%;
}

.about-me-image {
  width: 100%;
}

.about-middle {
  flex-basis: 5%;
}

.about-right {
  text-align: center;
  flex-basis: 57%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 720px) {
  #pdf-download {
    margin-top: 10px;
  }

  .about-layout {
    width: 90%;
    flex-direction: row;
  }
}
