.landing-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.landing-content-center-bar {
  height: 33%;
  background-color: #00000038;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-content-name {
  font: bold 41pt "Yu Gothic";
  letter-spacing: 2px;
  margin-bottom: -10px;
}

.landing-content-profession {
  display: flex;
  width: 100%;
  align-items: center;
}

.landing-content-profession-left-box {
  padding-right: 16px;
  font-size: 9pt;
  text-decoration: line-through;
  color: #949494;
}

.landing-content-profession-center-box {
  font-size: 16pt;
  color: #b9b9b9;
}
