.landing-content {
  height: calc(100% - 88px);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 88px;
  z-index: 1;
}

.landing-content-center-bar {
  height: 33%;
  background-color: #00000038;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-content-name {
  font: bold 41pt "Yu Gothic";
  letter-spacing: 2px;
  margin-bottom: -10px;
}

.landing-content-profession {
  display: flex;
  width: 100%;
  align-items: center;
}

.landing-content-profession-left-box {
  padding-right: 16px;
  font-size: 9pt;
  text-decoration: line-through;
  color: var(--text-color-light-minordisable);
}

.landing-content-profession-center-box {
  font-size: 16pt;
  color: var(--text-color-light-minorhighlight);
}
