:root {
  --background-color-light: #ffffff;

  --text-color-light-primary: #bcbcbc;
  --text-color-light-minorhighlight: #b9b9b9;
  --text-color-light-minordisable: #949494;

  --content-width-full: 80%;
  /* full-medium is used as 70% of the 80%*/
  --content-width-full-medium: 70%;
}
