:root {
  --background-color-light: #ffffff;

  --text-color-light-primary: #bcbcbc;
  --text-color-light-minorhighlight: #b9b9b9;
  --text-color-light-minordisable: #949494;

  /* todo might not use */
  --text-color-heading: #222f2a;
}
