.bold {
  font-weight: bold;
}

.vet-summary-section {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.pocket-vet-button-suggestion-mobile-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.pocket-vet-button-suggestion-mobile-wrapper img {
  width: 100%;
}

.pocket-vet-button-suggestion-desktop-wrapper {
  display: none;
}

.vet-hovering-container {
  display: flex;
  width: var(--content-width-full);
  flex-direction: column;
  justify-content: flex-start;
}

.vet-hovering-image-wrapper {
  width: 100%;
}

.vet-hovering-image-wrapper img {
  width: 100%;
  border: 1px solid lightgray;
}

.vet-hovering-arrow-container {
  display: none;
}

.vet-hovering-arrow-container img {
  width: 100%;
}

.vet-hovering-textbox {
  width: 100%;
  align-self: flex-end;
}

.status-icon-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.status-icon-item {
  width: 80%;
  margin: 2% auto 2% auto;
}

.status-icon-wrapper {
  border: solid 1px;
  display: flex;
  padding: 1% 0 1% 5%;
}

.pocketvet-icons {
  height: 18px;
  align-self: center;
  margin-right: 18px;
}

.vet-status-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: var(--content-width-full);
}

.vet-status-image {
  width: 100%;
}

.success {
  background-color: #ebf6f2;
  border-color: #3ca07b;
}

.warning {
  background-color: #fdf6e9;
  border-color: #e9a720;
}

.info {
  background-color: #eaf1f6;
  border-color: #2676a5;
}

.error {
  background-color: #fdeeee;
  border-color: #e35256;
}

.tab-navigation-container-desktop {
  display: none;
}

.tab-navigation-container-mobile {
  width: var(--content-width-full);
  display: flex;
  flex-direction: column;
}

.tab-navigation-image {
  width: 100%;
}

.color-suggestion-container {
  width: var(--content-width-full);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.color-suggestion-left {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.color-suggestion-right {
  width: 100%;
}

.color-suggestion-image {
  width: 100%;
}

@media screen and (min-width: 720px) {
  .vet-summary-section {
    width: 40%;
  }

  .pocket-vet-button-suggestion-mobile-wrapper {
    display: none;
  }

  .pocket-vet-button-suggestion-desktop-wrapper {
    display: contents;
  }

  .vet-button-suggestion-header {
    display: flex;
    justify-content: space-between;
    width: 70%;
  }

  .vet-button-suggestion-container {
    display: flex;
    width: var(--content-width-full);
  }

  .vet-button-suggestion-image-wrapper {
    width: 37.5%;
  }

  .vet-button-suggestion-image-wrapper img {
    width: 100%;
  }

  .vet-button-suggestion-arrow-container {
    width: 5%;
    margin-top: 35%;
  }

  .vet-button-suggestion-arrow-container img {
    width: 100%;
  }

  .vet-button-suggestion-textbox {
    width: 20%;
    padding-right: 15px;
    margin-top: 22%;
    align-self: center;
  }

  .vet-hovering-container {
    display: flex;
    flex-direction: row;
    width: var(--content-width-full);
    justify-content: center;
  }

  .vet-hovering-image-wrapper {
    width: 60%;
  }

  .vet-hovering-image-wrapper img {
    width: 100%;
    border: 1px solid lightgray;
  }

  .vet-hovering-arrow-container {
    display: inline;
    width: 5%;
    margin-top: 38%;
  }

  .vet-hovering-arrow-container img {
    width: 100%;
  }

  .vet-hovering-textbox {
    width: 25%;
    align-self: flex-end;
  }

  .vet-status-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: var(--content-width-full);
  }

  .status-icon-container {
    width: 35vw;
  }

  .tab-navigation-container-mobile {
    display: none;
  }

  .tab-navigation-container-desktop {
    width: var(--content-width-full);
    display: flex;
  }

  .tab-navigation-wrapper {
    width: 28%;
    align-self: center;
  }

  .tab-navigation-arrow-right {
    width: 5%;
    margin-top: 13%;
    transform: rotate(180deg);
  }

  .tab-navigation-image {
    width: 34%;
    height: auto;
    object-fit: contain;
  }

  .tab-navigation-arrow-left {
    width: 5%;
    margin-top: 19%;
  }

  .tab-navigation-textbox {
    width: 28%;
    align-self: flex-end;
  }

  .color-suggestion-container {
    width: var(--content-width-full);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .color-suggestion-left {
    width: 47%;
    display: flex;
    flex-direction: column;
  }

  .color-suggestion-right {
    width: 47%;
  }
}
