.characters-content-layout {
  padding-bottom: 40vh;
  flex-direction: column;
  align-items: center;
}

.paper-collection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paper-collection-spacer {
  height: 35px;
}

.characters-banner-image {
  display: none;
}

.characters-banner-image-mobile {
  display: unset;
  width: 100vw;
}

@media screen and (min-width: 720px) {
  .characters-content-layout {
    padding-bottom: 40vh;
    flex-direction: column;
    align-items: center;
  }

  .paper-collection-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .paper-collection-spacer {
    display: none;
  }

  .characters-banner-image {
    display: unset;
    width: var(--content-width-full);
  }

  .characters-banner-image-mobile {
    display: none;
  }
}
