.project-content-parent {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: var(--content-width-full);
}

.project-content-title {
  font-weight: bold;
  font-size: 14pt;
  padding-bottom: 0.2vh;
}

.project-content-image {
  align-self: center;
  max-width: var(--content-width-full-medium);
  max-height: calc(80vh - 88px);
  padding-top: 5px;
}

.project-content-image-small {
  align-self: center;
  max-width: 60%;
  max-height: calc(70vh - 88px);
}

@media screen and (min-width: 720px) {
  .project-content-title {
    font-size: 16pt;
    padding-bottom: unset;
  }

  .project-content-paragraph {
    text-align: justify;
  }
}
