.pcl-outer-flex {
  display: flex;
  flex-direction: column;
  width: var(--content-width-full);
  justify-content: space-between;
}

.pcl-bottom-spacer {
  margin-bottom: 36px;
}

.pcl-outer-flex-space-around {
  justify-content: flex-start;
}

.pcl-one-two-left {
  width: 100%;
}

.pcl-one-two-right {
  width: 100%;
}

.pcl-three-columns {
  width: 100%;
}

.pcl-one-one {
  width: 100%;
}

@media screen and (min-width: 720px) {
  .pcl-outer-flex {
    display: flex;
    flex-direction: row;
    width: var(--content-width-full);
    justify-content: space-between;
  }

  .pcl-bottom-spacer {
    margin-bottom: 0;
  }

  .pcl-outer-flex-space-around {
    justify-content: space-around;
  }

  .pcl-one-two-left {
    width: 33%;
  }

  .pcl-one-two-right {
    width: 67%;
  }

  .pcl-three-columns {
    width: 31%;
  }

  .pcl-one-one {
    width: 45%;
  }
}
