.project-preview-layout {
  width: min(40vh, 25vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-preview-top-spacing {
  height: 20vh;
}

.project-preview-image {
  width: 70%;
  filter: drop-shadow(1vh 1vh 1vh #7b7b7b);
}

.project-preview-middle-spacing {
  height: 4vh;
}

.project-preview-text {
  width: 100%;
  text-align: center;
}

.project-preview-bottom-spacing {
  flex-grow: 9;
}
