.projects-content {
  justify-content: center;
}

.projects-layout {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
}

.project-preview-row {
  display: flex;
  justify-content: space-around;
}

.project-preview-row-item {
  width: 30%;
  text-align: center;
}

.project-preview-row-item-inner {
  width: 100%;
}

.button-image {
  border: none;
  background: none;
  cursor: pointer;
}

/* todo where should this live? */
.center-it-all {
  display: flex;
  align-items: center;
  justify-content: center;
}
