.projects-content {
  flex-direction: column;
  align-items: center;
}

.projects-layout {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
}

/* todo where should this live? */
.center-it-all {
  display: flex;
  align-items: center;
  justify-content: center;
}
