.taqueria-project-facts {
  width: 80%;
}

.taqueria-lfp-detail-container {
  display: flex;
  width: var(--content-width-full);
  flex-direction: column;
}

.taqueria-lfp-detail-text {
  width: 100%;
  font-size: 12pt;
  text-align: center;
  padding-top: 1vh;
}

.taqueria-lfp-detail-left-arrow {
  display: none;
}

.taqueria-lfp-detail-image {
  max-width: 100%;
}

.taqueria-lfp-detail-right-arrow {
  display: none;
}

.taqueria-lfp-detail-text-two {
  width: 100%;
  align-self: unset;
  padding-bottom: 5%;
  font-size: 12pt;
}

.taqueria-lfp-detail-two-container {
  display: flex;
  flex-direction: column;
  width: var(--content-width-full);
  justify-content: unset;
  align-items: center;
}

.taqueria-lfp-detail-two-image {
  width: 80%;
}

.taqueria-lfp-detail-two-arrow {
  display: none;
}

.taqueria-lfp-detail-two-text {
  width: 80%;
  align-self: unset;
  padding-bottom: 0;
  font-size: 12pt;
}

@media screen and (min-width: 720px) {
  .taqueria-project-facts {
    width: 60%;
  }

  .taqueria-lfp-detail-container {
    display: flex;
    flex-direction: row;
    width: var(--content-width-full-medium);
  }

  .taqueria-lfp-detail-text {
    width: 22%;
    font-size: 10pt;
    text-align: right;
    padding-top: 1vh;
  }

  .taqueria-lfp-detail-left-arrow {
    display: unset;
    width: 5%;
    padding-top: 2%;
  }

  .taqueria-lfp-detail-image {
    max-width: 36%;
  }

  .taqueria-lfp-detail-right-arrow {
    width: 5%;
    align-self: end;
    padding-bottom: 8%;
    display: unset;
  }

  .taqueria-lfp-detail-text-two {
    width: 22%;
    align-self: end;
    padding-bottom: 5%;
    font-size: 10pt;
  }

  .taqueria-lfp-detail-two-container {
    display: flex;
    flex-direction: row;
    width: var(--content-width-full-medium);
    justify-content: center;
    align-items: unset;
  }

  .taqueria-lfp-detail-two-image {
    width: 36%;
  }

  .taqueria-lfp-detail-two-arrow {
    min-width: 5%;
    align-self: end;
    padding-bottom: 2%;
    display: unset;
  }

  .taqueria-lfp-detail-two-text {
    width: 22%;
    align-self: end;
    padding-bottom: 2%;
    font-size: 10pt;
  }
}
