.taqueria-layout {
  background-color: aquamarine;
  flex-direction: column;
  align-items: center;
}

.inner-component {
  background-color: cornflowerblue;
  border: 1px solid black;
  flex-grow: 1;
}
