.orb-column-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.orb-column-text {
  text-align: left;
}

.orb-column-layout .project-content-title {
  align-items: left;
}

ul {
  max-width: 70%;
  margin-right: 10%;
}

@media screen and (min-width: 720px) {
  .orb-column-layout {
    align-items: center;
  }

  .orb-column-layout .project-content-title {
    align-items: center;
  }

  .orb-column-text {
    text-align: center;
  }

  ul {
    max-width: 100%;
    margin: 0;
  }
}
