.orb-width-adjust {
  width: var(--content-width-full);
}

.orb-column-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.orb-column-text {
  text-align: left;
}

.orb-column-layout .project-content-title {
  align-items: left;
}

.ul-seventy {
  max-width: 70%;
  margin-right: 10%;
}

.orb-low-fidelity-container {
  display: none;
}

.orb-low-fidelity-slider {
  display: block;
  width: 68%;
  margin-bottom: 45px;
}

.carousel .slide img {
  width: 90% !important;
}

.carousel .control-prev.control-arrow::before {
  border-right: 8px solid #444 !important;
}

.carousel .control-next.control-arrow::before {
  border-left: 8px solid #444 !important;
}

.carousel.carousel-slider {
  overflow: unset !important;
}

.carousel .control-next.control-arrow {
  right: -14px !important;
}
.carousel .control-prev.control-arrow {
  left: -14px !important;
}

.carousel .control-dots .dot {
  background: #444 !important;
}
.carousel .control-dots {
  margin: -24px 0 !important;
}

.carousel .control-arrow:focus,
.carousel .control-arrow:hover {
  opacity: 0.4 !important;
}

/* todo check mobile style */
.orb-image-title {
  font-weight: unset;
  margin-bottom: 9px;
}

.unique-value-proposition {
  text-align: center;
}

.section-heading {
  font-weight: bold;
  font-size: 24px;
}

.orb-column-layout {
  align-items: center;
  background-color: #eee;
  border-radius: 18px;
  padding: 16px;
  height: 100%;
}

.orb-logo-grid {
  display: grid;
  grid-template-columns: 0% 44% 44% 0%;
  width: var(--content-width-full-medium);
  gap: 4%;
}

@media screen and (min-width: 720px) {
  .orb-width-adjust {
    width: var(--content-width-full-medium);
  }

  .orb-column-layout {
    padding: 20px;
  }

  .orb-column-layout .project-content-title {
    align-items: center;
  }

  .orb-column-text {
    text-align: center;
  }

  .ul-seventy {
    max-width: var(--content-width-full-medium);
    margin: 0;
  }

  .orb-low-fidelity-container {
    display: grid;
  }

  .orb-low-fidelity-slider {
    display: none;
  }

  .orb-logo-grid {
    grid-template-columns: 17.5% 28% 28% 17.5%;
    gap: 3%;
  }
}
