.root-background {
  background-image: url("./assets/background-main.png");
  background-size: 1366px 910px;
  background-color: black;
  background-repeat: no-repeat;
  background-position-x: center;
}
