.content-panel {
  width: 100%;
  background-color: var(--background-color-light);
  display: flex;
  z-index: 1;
  overflow-y: scroll;
  min-height: calc(100vh - 88px);
  max-width: 1400px;
}

.project-content-layout {
  flex-direction: column;
  align-items: center;
}

.project-content-heading {
  margin-top: 7vh;
}

#content-wrapper {
  display: flex;
  justify-content: center;
  background-color: white;
  margin-top: 88px;
  height: 100%;
}
