body {
  margin: 0;
  background-color: #1d1c1a;
}

.root-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1366px;
  margin: auto;
}

.root-background {
  background-image: url("./assets/background-main.png");
  background-size: 1366px 910px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: #1d1c1a;
}
