body {
  margin: 0;
  background-color: #1d1c1a;
  font-family: "Yu Gothic";
}

.root-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
}

.root-background {
  background-image: url("./assets/background-main.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-color: #1d1c1a;
}
