body {
  margin: 0;
  background-color: greenyellow;
  font-family: "Yu Gothic";
  overflow: hidden;
}

h1 {
  margin: 0;
  font-size: 26pt;
  font-weight: bold;
  letter-spacing: 1.5px;
}

h2 {
  font-size: 18pt;
}

.root-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
}

/* .root-background {
  background-image: url("./assets/background-main.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
} */
