body {
  margin: 0;
  font-family: "Yu Gothic";
  overflow: hidden;
}

h1 {
  margin: 0;
  font-size: 26pt;
  font-weight: bold;
  letter-spacing: 1.5px;
}

h2 {
  font-size: 18pt;
}

.root-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: auto;
  background-image: url(/src/assets/background-main.png);
  background-size: cover;
}

.primary-button {
  background-color: #3b4545;
  color: white;
  border-radius: 8px;
  border: none;
  height: 37px;
  width: 115px;
  cursor: pointer;
}
