body {
  margin: 0;
  font-family: "Yu Gothic";
  overflow: hidden;
}

h1 {
  margin: 0;
  font-size: 24pt;
  font-weight: bold;
  letter-spacing: 1.5px;
}

h2,
.section-heading {
  font-weight: bold;
  font-size: 24px;
}

.root-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: auto;
  background-image: url(/src/assets/background-main.png);
  background-size: cover;
}

.primary-button {
  background-color: #3b4545;
  color: white;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 12px 14px;
  white-space: nowrap;
}

.blue-link {
  font-size: 14pt;
  font-weight: bold;
  color: #06c;
}

.material-symbols-outlined {
  font-size: 14pt;
  margin-left: 5px;
  vertical-align: middle;
  margin-bottom: 3px;
}

.mobile-only-spacing-fix {
  padding-bottom: 0.2vh;
}

@media screen and (min-width: 720px) {
  h1 {
    font-size: 26pt;
  }

  .mobile-only-spacing-fix {
    padding-bottom: 0.2vh;
  }
}
